@font-face {
    font-family: 'Grifter';
    src: url('/fonts/grifterbold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 